{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}VocaBee{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed98db752b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="auth-box">
      {% block body %}
      {% endblock %}
    </div>
  </body>

</html>